
<link rel="stylesheet" href="css/footer.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<footer class="footer">
    <!-- Your Company Name -->
    <h3 class="company-name text-center condensed uppercase white bold" style="color:rgb(200, 228, 223);font-family: 'Expletus Sans', cursive;">The Entrepreneurship Development Centre</h3>
    <!-- Copyright -->
    <p class="copyright normal" style="text-align: center; color:rgb(156, 179, 174);">© 2019-20 All Rights Reserved. Made with <i
        class="fas fa-heart text-primary"></i> by EDC Web team.</p>
</footer>
