<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/navbar.css" />

<<<<<<< HEAD
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="EDCNav">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="images/logos/EDC.png" />
    </a>
    <button
      class="navbar-toggler ml-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/eventcalender">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/startup">Startups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/#contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
=======
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/navbar.css">
   
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="EDCNav">
      <div class="container" id="EDC">
        <a class="navbar-brand" href="#">
          <img src="images/logos/EDC.png">
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
          data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
          
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/eventcalender">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/startup">Startups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/team">Team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
      </nav>
      
>>>>>>> 8371bc04cce093f89ac39f6ff54f81a85c82f8b3
