
<div class="loader" style="overflow: hidden;">
    <div class="inner one"></div>
    <div class="inner two"></div>
    <div class="inner three"></div>
</div>
<link rel="stylesheet" href="css/preloader.css">
