<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8" />
    <title>EDC, RIT
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Favicon -->
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">

    <!-- CSS Files -->

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--ScrollReveal.js CDN-->
    
    <!-- Local CSS -->
    <link rel="stylesheet" href="css/team.css">
    
  <link href="css/scrollbar.css" rel="stylesheet">    
</head>

<body class="all">
<!-- Preloader Starts-->

<div id="loader-wrapper">
  <div id="preloader">
    <%- include('partials/preloader.ejs') %>
  </div>
</div>

<!-- Preloader ends-->

<div id='mainPage' class="main-page-wrapper" style="visibility: hidden;">   
<%- include('partials/navbar.ejs') %>
    
  <div class="container-fluids" style="background-image: url('images/backgrounds/section-background.gif');">
    <h1 class="section-heading text-primary text-uppercase text-center">MEET THE TEAM</h1>
  </div>
    <!-- End Page Header -->
    <h1 class="page-section-heading">Overall Coordinators</h1>
    <div>
    <section id="team"  class="section mb-5">
        <div class="team-member" style="background-image:url('/images/team/vaibhav.webp');">
            <div class="overlay">
              <div class = "items"></div>
              <div class = "items head">
                <p>Vaibhav Jha</p>
                <hr>
              </div>
              <div class = "items details">
                <p class="role">Event Management</p>
                <p class="email">vaibhavjha0798@gmail.com</p>
              </div>
          </div>
        </div>
        

        <div class="team-member" style="background-image:url('/images/team/vivek.webp');">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>Vivek Kumar Singh</p>
              <hr>
            </div>
            <div class = "items details">
              <p class="role">Publicity</p>
              <p class="email">VKS3111996@GMAIL.COM</p>
            </div>
        </div>
      </div>

    </section>
    <section>
      <div class="team-member" style="background-image:url('/images/team/niraj.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Niraj Agarwalla</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Finance and Upstarter</p>
            <p class="email">AGARWALLA.NIRAJ23@GMAIL.COM</p>
          </div>
      </div>
    </div>

    <div class="team-member" style="background-image:url('/images/team/rubina.webp');">
      <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
          <p>Rubina Ajmani</p>
          <hr>
        </div>
        <div class = "items details">
         
          <p class="role">Event Management</p>
          <p class="email">RUBINAAJMANI@GMAIL.COM</p>
        </div>
      </div>
    </div>

    <div class="team-member" style="background-image:url('/images/team/annada.webp');">
      <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
          <p>Annada Shukla</p>
          <hr>
        </div>
        <div class = "items details">
         
          <p class="role">Design and PR & Sponsorship</p>
          <p class="email">ANNADASHUKLA98@GMAIL.COM</p>
        </div>
      </div>
    </div>


    <div class="team-member" style="background-image:url('/images/team/abhigya.webp');">
      <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
          <p>Abhigya Parashar</p>
          <hr>
        </div>
        <div class = "items details">
         
          <p class="role">PR & Sponsorship</p>
          <p class="email">ABHIGYAPARASHAR22@GMAIL.COM</p>
        </div>
      </div>
    </div>

    <div class="team-member" style="background-image:url('/images/team/aditya.webp');">
      <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
          <p>Aditya Mishra</p>
          <hr>
        </div>
        <div class = "items details">
         
          <p class="role">Logistics</p>
          <p class="email">ADITYAMISHRA1311@GMAIL.COM</p>
        </div>
      </div>
    </div>

    <div class="team-member" style="background-image:url('/images/team/jagjot.webp');">
      <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
          <p>Jagjot Singh</p>
          <hr>
        </div>
        <div class = "items details">
         
          <p class="role">Logistics</p>
          <p class="email">JAGJOTSINGH3197@GMAIL.COM</p>
        </div>
      </div>
    </div>

    <div class="team-member" style="background-image:url('images/team/raksitha.webp');">
      <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
          <p>Rakshita H.</p>
          <hr>
        </div>
        <div class = "items details">
         
          <p class="role">Creativity</p>
          <p class="email">HRKULKARNI98@GMAIL.COM</p>
        </div>
      </div>
    </div>

    <div class="team-member" style="background-image:url('images/team/aakriti.webp');">
      <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
          <p>Aakriti Suman</p>
          <hr>
        </div>
        <div class = "items details">
         
          <p class="role">Documentation</p>
          <p class="email">AAKRITISUMAN0@GMAIL.COM</p>
        </div>
      </div>
    </div>

    <div class="team-member" style="background-image:url('images/team/syed.webp');">
      <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
          <p>Sayeed Ansari</p>
          <hr>
        </div>
        <div class = "items details">
         
          <p class="role">Coverage</p>
          <p class="email">IMSAYEEDANSARI@GMAIL.COM</p>
        </div>
      </div>
    </div>
    </section>
    
    <h1 class="page-section-heading mt-5">Student Coordinators</h1>
    
    <section>
      <div class="team-member" style="background-image:url('images/team/zeel.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Zeel Shah</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Design</p>
            <p class="email">Z4ZEEL@GMAIL.COM</p>
          </div>
        </div>
      </div>


      <div class="team-member" style="background-image:url('images/team/satyam.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Satyam Kumar</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Design</p>
            <p class="email">SATYAMISMYNAME@GMAIL.COM</p>
          </div>
        </div>
      </div>

      <div class="team-member" style="background-image:url('images/team/prasoon.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Prasoon Saurav</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Event Management</p>
            <p class="email">PRASOONJOSHI16@GMAIL.COM</p>
          </div>
        </div>
      </div>
      

      <div class="team-member" style="background-image:url('images/team/aman.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Aman Gupta</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Finance</p>
            <p class="email">GUPTA.AMAN1602@GMAIL.COM</p>
          </div>
        </div>
      </div>


      <div class="team-member" style="background-image:url('images/team/nandawat.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Aditya Singh Nandawat</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">PR & Sponsorship</p>
            <p class="email">ADITYANANDAWAT@GMAIL.COM</p>
          </div>
        </div>
      </div>


      <div class="team-member" style="background-image:url('images/team/navya.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Navya Bansal</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">PR & Sponsorship</p>
            <p class="email">NAVYABANSAL99@GMAIL.COM</p>
          </div>
        </div>
      </div>


      <div class="team-member" style="background-image:url('images/team/sreeja.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>P Sreeja</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Creativity</p>
            <p class="email"> SREEJAPEESA6773@GMAIL.COM</p>
          </div>
        </div>
      </div>

      <div class="team-member" style="background-image:url('images/team/aakash.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Pushparaj Gupta</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Logistics</p>
            <p class="email">PSPAGPTA@GMAIL.COM</p>
          </div>
        </div>
      </div>

      <div class="team-member" style="background-image:url('images/team/karn.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Karn Hooper</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Logistics</p>
            <p class="email">MEKARN2014@GMAIL.COM</p>
          </div>
        </div>
      </div>


      <div class="team-member" style="background-image:url('images/team/harsh.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Harsh Tiwari</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Logistics</p>
            <p class="email">HARSHTIWARIVM2000@GMAIL.COM</p>
          </div>
        </div>
      </div>


      <div class="team-member" style="background-image:url('images/team/shikhar.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Shikhar Sinha</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Documentation</p>
            <p class="email">SHIKHARSINHA123@GMAIL.COM</p>
          </div>
        </div>
      </div>

      <div class="team-member" style="background-image:url('images/team/chirayu.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Chirayu Sanghai</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Documentation</p>
            <p class="email">CHIRAYUSANGHVI9@GMAIL.COM</p>
          </div>
        </div>
      </div>

      <div class="team-member" style="background-image:url('images/team/vedansh.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Vedansh Tora</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Documentation</p>
            <p class="email">VEDUBHAI00@GMAIL.COM</p>
          </div>
        </div>
      </div>


      <div class="team-member" style="background-image:url('images/team/vinay.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Vinay Biradar</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Event Management</p>
            <p class="email">VINAYBIRADAR1717@GMAIL.COM</p>
          </div>
        </div>
      </div>

      <div class="team-member" style="background-image:url('images/team/tilak.webp');">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Tilak Singh</p>
            <hr>
          </div>
          <div class = "items details">
           
            <p class="role">Publicity</p>
            <p class="email">TILAKS484@GMAIL.COM</p>
          </div>
        </div>
      </div>
    </section>
  </div>
    <!-- End Members -->
    <!-- Footer -->
    <%- include('partials/footer') %>
</div>
    <!--Local JS-->
    <script src="js/team.js"></script>
    <!-- End JS Files -->
</body>

</html>