body {
  background: radial-gradient(#2c2c2c, #0f0f0f);
}
ul {
  font-size: 20px;
}
.card {
  margin-top: 50px;
  transition: all 0.3s linear;
  box-shadow: 0px 0px 8px #2584a1;
}
.card p {
  line-height: 1.7;
}
.card:hover {
  box-shadow: 0px 0px 8px 1px #2584a1;
  transform: translate(4px, 4px);
}
.card img {
  height: 275px;
}
.card-title {
  color: #2584a1;
}
.card-body {
  background: radial-gradient(#2c2c2c, #0f0f0f);
}
.ghost-button {
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.75rem;
  letter-spacing: 0.3em;
  color: #3eb8ddd3;
  border-radius: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
  padding: 18px 80px 20px;
  transition: all 0.5s ease-out;
  background: linear-gradient(
    270deg,
    #3eb8ddf8,
    #1a3e49f8,
    rgba(34, 34, 34, 0),
    rgba(34, 34, 34, 0)
  );
  background-position: 1% 50%;
  background-size: 300% 300%;
  text-decoration: none;
  margin: 0.3rem;
  border: none;
  border: 1px solid #3eb8ddd3;
  text-decoration: none !important;
}

.ghost-button:hover {
  color: #fff;
  border: 1px solid rgba(223, 190, 106, 0);
  color: white;
  background-position: 99% 50%;
}
.margin {
  margin-top: 160px;
}
hr {
  border: none;
  height: 2px;
  background: #2584a1;
}
.date {
  height: 100px;
  width: 100px;
  border: 1px solid transparent;
  border-radius: 50%;
  background: radial-gradient(#2c2c2c, #0f0f0f);
  color: #2584a1;
  margin: 0 auto;
  position: absolute;
  top: -70px;
  left: calc(50% - 50px);
  padding-top: 18px;
  padding-left: 4px;
  z-index: 5;
  font-weight: 700;
  font-size: 1.2rem;
  border: 2px solid #2584a1;
}
.date:first-child {
  top: -75px;
}
.carousel-control-next,
.carousel-control-prev {
  width: 2%;
}
.card-body {
  padding: 0.5rem 0.5rem;
}
.p-0 {
  padding-top: 0.5rem !important;
}
.small-font {
  font-size: 1.05rem;
  top: -65px;
}
.fixed {
  position: fixed;
  background-image: radial-gradient(#2c2c2c, #0f0f0f);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  box-shadow: 0px 0px 8px #2584a1;
  overflow-y: auto;
  transition: all 0.5s linear;
  animation: scale 0.3s backwards;
}
.modalheader {
  color: #2584a1;
  background-color: rgba(0, 0, 0, 0.568);
}
.modal p {
  font-size: 20px;
  line-height: 1.7;
  font-family: sans-serif;
}
.modal h4 {
  color: #2584a1;
}
.modal p,
.modal h4,
.modal ul {
  letter-spacing: 2px;
}
@media (min-width: 768px) and (max-width: 820px) {
  .ghost-button {
    margin: 0.2rem;
    padding: 18px 70px 20px;
  }
}
@media (min-width: 1200px) {
  .carousel-control-next {
    width: 6%;
  }
  .carousel-control-prev {
    width: 4%;
  }
}
@media (max-width: 767px) and (min-width: 300px) {
  .main-carousel .carousel-item {
    position: relative;
    display: block;
    float: none;
    transition: none;
  }
  .fixed {
    bottom: 0;
    top: 0;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
  .main-carousel .carousel-inner {
    position: static;
  }
  .main-carousel .carousel {
    position: static;
  }
  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }

  .carousel-inner:first-child {
    margin-top: 60px;
  }
}
@keyframes open_border {
  0% {
    border: none;
  }
  25% {
    border-top: 2px solid #2584a1;
  }
  50% {
    border-right: 2px solid #2584a1;
  }
  75% {
    border-bottom: 2px solid #2584a1;
  }
  100% {
    border: 2px solid #2584a1;
  }
}
@keyframes scale {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media (max-width: 767px) and (min-width: 550px) {
  hr {
    position: absolute;
    height: 100%;
    bottom: 0;
    top: -135px;
    left: calc(32% - 100px);
    width: 3px;
  }
  .row > div {
    margin-left: 32% !important;
  }
  .date {
    position: absolute;
    top: calc(50% - 50px) !important;
    left: -150px;
  }
  .modal p {
    font-size: 18px;
  }
  .modal ul {
    font-size: 18px;
  }
}
@media (min-width: 450px) and (max-width: 550px) {
  hr {
    position: absolute;
    height: 100%;
    bottom: 0;
    top: -135px;
    left: calc(28% - 75px);
    width: 3px;
  }
  .row > div {
    margin-left: 28% !important;
  }
  .date {
    position: absolute;
    top: calc(50% - 50px) !important;
    left: -125px;
  }
  .modal p {
    font-size: 18px;
  }
  .modal ul {
    font-size: 18px;
  }
  .col-7 {
    flex: 0 0 70%;
    max-width: 70%;
  }
}
@media (min-width: 300px) and (max-width: 450px) {
  .card h3 {
    font: 18px;
  }
  .card p {
    font-size: 0.8rem;
  }
  .ghost-button {
    margin: -20px;
    padding: 20px 25% 22px;
    margin-bottom: 0px;
  }
  .row > div {
    margin: 0 auto !important;
  }
  .col-7 {
    flex: 0 0 95%;
    max-width: 95%;
  }
  .date {
    top: -50px !important;
    left: calc(50% - 37.5px);
    width: 75px;
    height: 75px;
    font-size: 0.9rem;
  }
  .small-font {
    font-size: 0.7rem;
  }
  .card {
    margin-bottom: 80px !important;
  }
  hr {
    display: none;
  }
  .fixed {
    right: -5px !important;
    left: -5px !important;
  }
  .container {
    padding: 0 !important;
  }
  .firstcard {
    margin-top: 160px !important;
  }
  .small-font {
    margin-top: 120px !important;
  }
  .card:before {
    content: "";
    height: 30px;
    width: 2px;
    border-left: 2px solid #2584a1;
    background-color: transparent;
    position: absolute;
    top: -30px;
    left: 50%;
  }
  .modal p,
  .modal ul {
    font-size: 14px;
    letter-spacing: 1.3;
  }
  .modal h1 {
    font-size: 24px;
  }
}
@media (min-width: 392px) and (max-width: 450px) {
  .firstcard {
    margin-top: 120px !important;
  }
  .small-font {
    margin-top: 80px !important;
  }
}
