@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
    background: radial-gradient(#2c2c2c,#0f0f0f) !important;
}

.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background-color: rgba(0, 0, 0, .6)!important;
}
.navbar-brand img{
    height: 2rem;
}
.navbar-nav li{
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .navbar-link{
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .navbar-link .active,
.navbar-dark .navbar-nav .navbar-link:hover{
    color: blanchedalmond;
}


#previousBtn{
   position: absolute;
   top: 50%;
   z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}
#nextBtn{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

.event-card{
    padding:10px;
}

.event-carousel-inner{
    display: flex;
    width:400px;
    height: 250px;
    align-items: center;
}
.event-card-container{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.ghost-card{
    background: transparent;
    color: #0193c0d3;
    border-radius: 0.2rem;
    transition: all 0.6s ease-out;
    background: linear-gradient(270deg, #3eb8ddf8, #1a3e49f8, rgba(34,34,34,0), rgba(34,34,34,0));
    background-size: 300% 300%;
    border: 3px solid #3eb8dd83;  
    display:flex;
}

.ghost-card:hover{
    border: 3px solid rgba(223,190,106,0);
    color: white;
    background-position: 99% 50%;
}

.card-description-size{
    font-family: Raleway;
    letter-spacing:2px;
    word-spacing:4px;
}

.card-heading-text{
    font-family: Expletus Sans;
    font-weight: bold;
}

.vertically-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1075px){
    .event-card{
        display: flex;
        flex-direction: column;
    }

    
    .event-carousel-inner{
        height: 250px;
       
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-track {
    background: #272626FF;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: linear-gradient(to bottom, #3eb8ddf8, #620d77f8);
}

::-webkit-scrollbar-thumb:hover {
    transition: all 0.6s ease-out;
    background: linear-gradient(to bottom, #3eb8ddf8, #620d77f8);
}